html, body { height: 100%; }

body {
    background-color: black;
    background-size: cover;
    background: url(../bg.jpg);
    color: whitesmoke;
    font-family: "Lato";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

#shade {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

div.wrapper {
    margin: 0 auto;
    display: block;
    max-width: 760px;
}

div {
    display: inline-block;
}

h1 {
    font-size: 48px;
    line-height: 73px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 35px;
}

p.pullquote {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 35px;
    padding-left: 15px;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
}

p.heading {
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 35px;
    margin-top: 45px;
    color: yellow;
    border-bottom: 2px solid yellow;
    padding-bottom: 6px;
}

a {
    color: yellow;
    text-decoration: none;
}

p.intro {
    margin-bottom: 35px;
    font-size: 21px;
    line-height: 28px;
}

.cv-experience {
    width: 100%;
    font-size: 17px;
    line-height: 26px;
}

.cv-experience td {
    vertical-align: top;
    padding-bottom: 1em;
}

.cv-expertise {
    width: 700px;
}

.cv-expertise li {
    float: left;
    display: inline;
    width: 33.333%;
}

ul { padding: 0; }

.contact { float: right; }
.contact a { margin-left: 2em; }