html, body { height: 100%; }

body {
    margin: 0;
    font-size: 13px;
    font-family: "PT Mono";
    font-style: normal;
    font-weight: 400;
    color: whitesmoke;
    background: url(../bg.jpg);
    background-size: cover;
    background-color: black;
}

#shade {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

div.wrapper {
    margin: 0 auto;
    display: block;
    max-width: 760px;
}

div {
    display: inline-block;
}

h1 {
    font-size: 64px;
    line-height: 73px;
    margin-bottom: 25px;
}

p {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 35px;
}

p.pullquote {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 35px;
    padding-left: 15px;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
}

p.heading {
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 35px;
    border-width: 0px 0px 2px 0px;
    border-style: dotted;
    margin-top: 45px;
    color: yellow;
}

p.intro {
    margin-bottom: 35px;
    font-size: 21px;
    line-height: 28px;
}

